{% extends "layouts/base.twig" %}

{% block content %}
  <article id="404" class="c-page__sections c-404">
    <section class="o-wrapper o-wrapper--narrow">
      <h1>404</h1>
      <p>Sorry, we couldn't find what you're looking for.</p>
    </section>
  </article>
{% endblock %}
